.hwp {
  text-align: center;
  background-color: $primaryDarker;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.38);
  overflow: hidden;
}

/* HEADER & NAVIGATION
   ========================================================================== */

/* Header */
.header > span, .header > p {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: normal;
}

.brand-name {
  display: block;
  background-color: $primary;

  a {
    color: #FFF;
    font-size: 1.25em;

    :hover {
      color: #FFF;
    }
  }
}

/* Menu toggle */
.nav {
  text-align: left;
  color: $textLight;
  transition: height 0.3s ease-out;

  @media (max-width: $screen-desktop) {
    height: 0;
  }

  &__label {
    margin-top: 16px;
    margin-left: 16px;
    text-align: left;
    font-size: 0.875em;
    font-weight: 300;
    opacity: 0.64;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    padding: 10px 0;
    padding-left: 20px;
    cursor: pointer;

    &.disabled {
      opacity: .3;
    }

    &:before {
      content: " ";
      position: absolute;
      left: 11px;
      top: 10px;
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid $textLight;
    }

    &.active,
    &:not(.disabled):hover {
      color: $sand;
      background-color: #d8d8d8;
      background-color: rgba(#D8D8D8, 0.08);

      &:before {
        border-color: $sand;
      }
    }
  }

  .step-number {
    margin-right: 16px;
  }
}

@media (max-width: $screen-desktop) {
  .menu-open .nav {
    height: 457px;
  }
}

.c-hamburger {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (min-width: $screen-desktop) {
    display: none;
  }
}

.reset-model {
  color: #999;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
}

/* Material Design Icons */
.zmdi {
  vertical-align: middle;
  transition: transform ease-out 0.4s;
}

/* CONTENT OF EACH STEP
   ========================================================================== */

.main {
  background-color: #fff;
}

.step-title {
  margin: 0;
  margin-top: 4px;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-desktop) {
    padding-left: 2em;
    text-align: left;
  }
}

.step-wrapper {
  display: none;

  &.show {
    display: block;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.step {
  @media (min-width: $screen-desktop) {
    min-height: 370px;
  }

  &__desc {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.continue,
.print {
  margin-top: 2em;
  line-height: 50px;
  text-transform: uppercase;
  background-color: $primaryLighter;
  transition: background-color ease-out 1s;
  cursor: pointer;

  &:hover {
    background-color: $text;

    .zmdi {
      transform: translateX(20px);
    }
  }

  &__button {
    color: white !important;
  }

  .zmdi {
    margin-left: 10px;
    vertical-align: initial;
  }
}
