/* ==========================================================================
   PRINT
   ========================================================================== */

.print-page {
  display: none;
}

@media print {
  .no-print > * {
    display: none;
  }

  .print-page {
    display: block;
  }
}
