/* ==========================================================================
   PRINT
   ========================================================================== */

@media print {
  .no-print {
    .main {
      width: 100%;
    }

    .sidebar,
    .sign {
      display: none;
    }

    .step--reminders {
      font-size: 14px;
    }

    .well {
      background: none;
      border: 0;
      padding: 0;
    }

    td {
      padding: 3px !important;
    }

  }
}
