/* 2-ABOUT
   ========================================================================== */

.step--about {
  padding: 0 2em;
}

.about {
  &__question {
    margin-bottom: 1.125em;
    font-size: 1.125em;
    font-weight: normal;
    border-bottom: 1px solid rgba(#B8BBC6, .22);

    @media (max-width: $screen-phone) {
      font-size: .9em;
    }
  }

  &__age__slider {
    margin-bottom: 80px;
  }

  &__age .slider-tooltip {
    left: 0;
  }

  &__situation {
    margin-bottom: 3em;
  }

  &__select {
    width: 200px;
    height: 40px;
    padding: 4px 15px;
    background: none;
    border: 1px solid $textLight;

    @media (max-width: $screen-phone) {
      width: 145px;
      height: 36px;
    }
  }

  &__house {
    @media (max-width: $screen-tablet) {
      margin-bottom: 3em;
    }
  }

  &__income {

    .slider-tooltip {
      left: -16px;
    }
  }
}
