/* 5-PYRAMID
   ========================================================================== */

.step--compare {
  color: $primaryDarker;
  font-weight: normal;

  .dot {
    background-color: $gray-light;
    border-radius: 50%;
    display: inline-block;
    height: .75em;
    width: .75em;
  }

  .conclusion {
    margin-top: 1em;
  }

  .detailed-chart {

    .ct-bar {
      stroke-width: 9px;
    }

    .ct-series-a .ct-bar {
      stroke: $primary;
    }

    .ct-series-b .ct-bar {
      stroke: $gray-light;
    }
  }
}

.comparison {
  .others {
    .dot {
      margin-right: .5em;
    }

    &__summary {
      font-size: .875em;
      list-style-type: none;
      text-align: left;
    }

    &__category__value {
      font-size: 1rem;
    }
  }
}

.comparison-chart {
  .ct-series-a .ct-bar {
    &:first-child {
      stroke: $primary;
    }

    &:nth-child(2) {
      stroke: $accent;
    }

    &:nth-child(3) {
      stroke: $accent-green;
    }
  }

  .ct-series-b .ct-bar {
    stroke: $gray-light;
  }
}

.budget {
  padding: 1em 0;

  &__income {
    border: 2px solid $gray-dark;
    border-radius: 50%;
    font-size: 1.125em;
    font-weight: 400;
    height: 9em;
    line-height: 9em;
    margin: 1em auto;
    width: 9em;

    .value {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5em;

      &__actual {
        display: block;
        font-size: 1.875em;
      }
    }
  }

  &__title {
    font-size: 1.125em;
    font-weight: 400;
  }

  &__category {
    font-size: .875em;
    margin-bottom: 1em;

    .dot {
      display: block;
      margin: 0 auto;
    }

    &--basic .dot {
      background-color: $primary;
    }

    &--discretionary .dot {
      background-color: $accent;
    }

    &--savings .dot {
      background-color: $accent-green;
    }

    &__name {
      display: block;
    }

    &__value {
      font-size: 1rem;
    }
  }
}
