/* 7-GOAL
   ========================================================================== */

.step--goals {
  .zmdi {
    font-size: 24px;
  }
}

.goal {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  width: 220px;
  padding-left: 46px;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 15%;
  background-color: $text;
  color: #FFF;
  line-height: 1.125em;

  @media (max-width: $screen-desktop) {
    margin-right: 1em;
  }

  &--hide {
    display: none;
  }

  &--college {
    background-image: url(../images/7/school.svg);
  }
  &--home {
    background-image: url(../images/7/home.svg);
  }
  &--car {
    background-image: url(../images/7/car.svg);
  }
  &--funds {
    background-image: url(../images/7/loyalty.svg);
  }
  &--cards {
    background-image: url(../images/7/bank.svg);
  }
  &--retire {
    background-image: url(../images/7/retirement.svg);
  }

  &__details {
    height: 90px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #78B6E1;
  }

  &__date,
  &__success {
    display: inline-block;
    text-align: center;
    font-size: 0.875em;

    & .zmdi {
      display: block;
      margin: 0 auto;
    }
  }

  &__date {
    width: 100px;
  }
  &__success {
    width: 60px;
  }

  .add-goal {
    position: absolute;
    top: -10px;
    right: -10px;
    color: $text;
    cursor: pointer;
  }

  .tooltip {
    font-size: 12px;
  }
}

.picked {
  position: relative;
  margin-bottom: 1em;
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 300px;
  color: #FFF;
  background-color: $text;
  box-shadow: 0 1px 2px rgba(0,0,0,.28);

  @media (max-width: $screen-desktop) {
    margin-right: 1em;
  }

  &--show {
    display: inline-block;
  }

  .dragger {
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: rgba(254,254,254,.7);
    border-radius: 3px;
    cursor: pointer;
  }

  &__title {
    margin-top: 0.5em;
    font-size: 1.25em;
  }

  &__date {
    cursor: pointer;
  }

  .goal__date__picker {
    width: 100px;
    padding: 0;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: none;
    cursor: pointer;
  }

  p .zmdi {
    margin-right: 5px;
    vertical-align: bottom;

    &-edit {
      margin-left: 10px;
      font-size: 16px;
      color: rgba(#fff, .7);
      vertical-align: baseline;
    }
  }

  .delete-goal {
    position: absolute;
    top: -10px;
    right: -10px;
    color: $accent;
    cursor: pointer;
  }
}
