/* 2-ABOUT
   ========================================================================== */

.step--about {

  .age__slider {
    margin-bottom: 80px;
  }

  .age .slider-tooltip {
    left: 0;
  }

  .situation {
    margin-bottom: 3em;
  }

  .select {
    height: 40px;
    padding: 4px 15px;
    background: none;
    border: 1px solid $textLight;

    @media(min-width: $screen-tablet) {
      width: 12.5em;
    }
  }

  .house {
    @media (max-width: $screen-tablet) {
      margin-bottom: 3em;
    }
  }

  .income {

    .slider-tooltip {
      left: -16px;
    }
  }
}
