/* 3-YOU
   ========================================================================== */

.step--expenses {
  .noUi-target {
    margin-bottom: 2em;
  }

  .slider-tooltip {
    left: -5px;
  }

  .ct {
    &-square:before {
      padding-bottom: 16.5em;
    }

    &-label {
      display: none;
    }

    &-series-a .ct-slice-donut {
      stroke: #D3D3D3;
    }

    &-series-b .ct-slice-donut {
      stroke: $accent;
    }

    &-series-c .ct-slice-donut {
      stroke: #9DDC57;
    }

    &-legend {
      margin-top: 2em;
      text-align: left;
      list-style-type: none;

      &__color {
        display: inline-block;
        width: 12px;
        height: 12px;

        &--basic {
          background-color: #d3d3d3;
        }

        &--disc {
          background-color: $accent;
        }

        &--savings {
          background-color: #9ddc57;
        }
      }
    }
  }

  .current-savings {
    margin-top: 1.5em;
  }

  .bls {
    text-align: left;
  }

  .pie-tooltip {
    position: absolute;
    font-size: 14px;
    color: rgba(#fff, .7);
    padding: 5px 10px;
    background-color: $text;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 9;
  }

  .panel-default {
    border: 0;
    box-shadow: none;

    .zmdi-chevron-down {
      margin-left: 1em;
    }

    .panel-heading {
      background: rgba(255,255,255,0);
      border-color: $gray-light;
      font-weight: normal;
      text-align: left;

      a {
        color: $gray;
      }

      small {
        color: $gray;
      }
    }
  }

  .details-values {
    padding-left: 0;
    text-align: left;

    .detail {
      display: inline-block;
      list-style-type: none;
      margin-top: .5em;
      width: 50%;

      @media(min-width: $screen-tablet) {
        width: 33%;
      }

      &__name {
        display: inline-block;
        line-height: 1em;
        margin-bottom: 5px;
        margin-top: 1em;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        @media(min-width: $screen-tablet) {
          margin: 0;
          text-align: right;
          width: 100px;
        }
      }

      .value-wrapper:after {
        content: "%";
        font-size: .875em;
        margin-left: .5em;
      }

      &__value {
        border: 2px solid $primaryLighter;
        border-radius: 2px;
        margin-left: 1em;
        padding: 0 .5em;
        width: 50px;

        &:after {
          content: '%'
        }
      }
    }
  }

}
