/* 1-INTRO
   ========================================================================== */

.step--intro {
  text-align: center;

  .step__content {
    @include flex;

    > div {
      padding: 0 1em;
    }
  }

  .step__content > div:last-child {
    @media(min-width: $screen-tablet) {
      border-left: 1px solid rgba($primaryLighter, 0.4);
    }
  }

  .features {
    list-style-position: inside;
    margin: 0 auto;
    max-width: 30em;
    padding-left: 0;
    text-align: left;
  }

  .offer {
    @include flex;
    margin-top: 3em;
    text-align: center;

    img {
      margin-right: 1em;
    }

    .float-right {
      order: 1;
      margin-left: 1em;
    }
  }

}