/* 8-RETIREMENT
   ========================================================================== */

.step--plan {
  .zmdi {
    color: $textLight;
    cursor: pointer;
  }

  .zmdi-check-circle {
    font-size: 1.5em;
  }

  .zmdi-info-outline {
    font-size: 1.5em;
  }

  .saved {
    color: $accent-green;
  }

  .th-todo {
    color: #fff;
    background-color: $accent-green;

    &not {
      color: #fff;
      background-color: #E97B6C;
    }
  }

}
