/* 6-SCENARIOS
   ========================================================================== */

.step--scenarios {

  .noUi-target {
    margin-bottom: 30px;
  }

  .option {
    padding: 0 1em;
  }

  .option--income {
    .slider-tooltip {
      left: -16px;
    }
  }

  .investment {
    margin: 1em 0;

    input {
      display: none;

      &:checked + label {
        background-color: rgba(78,161,215,.2);
        border-color: $primary;
      }
    }

    label {
      margin: 0 15px 1em 15px;
      font-size: .9em;
      display: block;
      background-color: rgba(78,161,215,.1);
      border: 1px solid #C5CFDB;
      width: 300px;
      padding: 5px 20px;
      transition: all ease-in-out 0.5s;
      cursor: pointer;

      @media(min-width: $screen-phone) {
        display: inline-block;
        width: auto;
      }

      & > * {
        display: block;
      }
    }

    &__gain {
      font-size: 1.4em;
      font-weight: normal;
    }
  }

  .panel a {
    color: $text;
  }

  .ct-chart {
    position: relative;

    &::before {
      content: 'Savings ($)';
      font-weight: normal;
      left: -35px;
      position: absolute;
      top: 100px;
      transform: rotate(-90deg);
    }

    &::after {
      bottom: 0;
      content: 'Age';
      font-weight: normal;
      left: 50%;
      position: absolute;
    }
  }

  .ct-chart-line {
    padding-left: 15px;
  }

  .ct-label {
    color: inherit;
    font-size: .875em;
  }

  .ct-point,
  .ct-line {
    stroke: $accent-green;
  }

  .ct-area {
    fill: $accent-green;
  }

  .savings {
    margin: 2em auto 0 auto;
    color: #fff;
    max-width: 340px;
    padding: 1.2em 0;
    background-color: $primary;

    p {
      margin-bottom: 0;
    }

    &__amount {
      font-size: 2.5em;
    }
  }
}
