<div class="step-wrapper step-retirement">
  <div class="header">
    <p class="step-title">Saving for retirement</p>
  </div>
  <div class="step step--retirement">
    <div class="wrapper">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Save</th>
              <th class="th-todo">Things to do</th>
              <th class="th-todonot">Things to avoid</th>
              <th>Why</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- </step> -->
  <div class="continue" data-template="plan">
    <a class="continue__button">SAVE <i class="zmdi zmdi-long-arrow-right"></i></a>
  </div>

</div>
