{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Wealth Project</title>
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/nouislider.min.css">
  <link rel="stylesheet" href="styles/chartist.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/mdif.min.css">
  <link rel="stylesheet" href="styles/dragula.min.css">
  <link rel="stylesheet" href="styles/bootstrap-datepicker.min.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <div class="app">
      <div class="row">
        <div class="col-md-3">
          <div class="header">
            <span class="brand-name"><a href="/">The Wealth Project</a></span>
            <button class="c-hamburger c-hamburger--htx">
              <span>Toggle Menu</span>
            </button>
          </div>
          {% include 'includes/nav.html' %}
        </div>
        <div class="main col-md-9">
          {% include 'screens/intro.html' %}
          {% include 'screens/about.html' %}
          {% include 'screens/expenses.html' %}
          {% include 'screens/comparison.html' %}
          {% include 'screens/scenarios.html' %}
          {% include 'screens/goal.html' %}
          {% include 'screens/plan.html' %}
          {% include 'screens/reminders.html' %}
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/lib/jquery.min.js" charset="utf-8"></script>
  <script src="scripts/lib/wNumb.min.js" charset="utf-8"></script>
  <!-- Bootstrap -->
  <script src="scripts/lib/bootstrap.min.js" charset="utf-8"></script>
  <!-- Bootstrap Datepicker -->
  <script src="scripts/lib/bootstrap-datepicker.min.js" charset="utf-8"></script>
  <!-- Custom JS -->
  <script src="scripts/main.js" charset="utf-8"></script>
  <!-- Other Components -->
  <script src="scripts/lib/fastclick.js" charset="utf-8"></script>

  <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-8229287-16', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
