body {
  font-weight: 300;

  @media (min-width: $screen-desktop) {
    padding-top: 3.125em;
  }
}

img,
svg {
  max-width: 100%;
}

th {
  font-weight: normal;
  text-align: center;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
  @media (max-width: $screen-desktop) {
    display: block;
  }
}
