body {
  padding-top: 3.125em;
  font-weight: 300;
}

img,
svg {
  max-width: 100%;
}

th {
  font-weight: normal;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $screen-desktop) {
    display: block;
  }
}
