/* 3-YOU
   ========================================================================== */

.step--savings {

  .col-md-6 {
    padding: 0 1em;
  }

  .noUi-target {
    margin-bottom: 2em;
  }

  .slider-tooltip {
    left: -5px;
  }

  .ct {
    &-series-a .ct-slice-donut {
      stroke: #D3D3D3;
    }

    &-series-b .ct-slice-donut {
      stroke: $accent;
    }

    &-series-c .ct-slice-donut {
      stroke: #9DDC57;
    }

    &-legend {
      margin-top: 2em;
      text-align: left;
      list-style-type: none;

      &__color {
        display: inline-block;
        width: 12px;
        height: 12px;

        &--basic {
          background-color: #d3d3d3;
        }

        &--disc {
          background-color: $accent;
        }

        &--savings {
          background-color: #9ddc57;
        }
      }
    }
  }

  .bls {
    text-align: left;
  }

  .pie-tooltip {
    position: absolute;
    font-size: 14px;
    color: rgba(#fff, .7);
    padding: 5px 10px;
    background-color: $text;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 9;
  }

}
