/* 6-SCENARIOS
   ========================================================================== */

.step--scenarios {

  .noUi-target {
    margin-bottom: 50px;
  }

  .scenario {
    margin: 0 auto;
    width: 80%;

    @media (max-width: $screen-tablet) {
      width: 100%;
    }
  }

  .option--income {
    .slider-tooltip {
      left: -16px;
    }
  }

  .ct-label {
    font-size: .875em;
  }

  .ct-point,
  .ct-line {
    stroke: $accent-green;
  }

  .ct-area {
    fill: $accent-green;
  }

  svg {
    overflow: visible;
    padding-left: 15px;
  }

  .ct-axis-age,
  .ct-axis-savings {
    fill: $text;
    font-weight: normal;
  }
}
