.step--goals {

}

.goal {
  position: relative;
  margin-bottom: 1em;
  width: 220px;
  padding-left: 46px;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 15%;
  background-color: $text;
  color: #FFF;
  line-height: 1.125em;

  &--hide {
    display: none;
  }

  &--college {
    background-image: url(../images/7/school.svg);
  }
  &--home {
    background-image: url(../images/7/home.svg);
  }
  &--car {
    background-image: url(../images/7/car.svg);
  }
  &--funds {
    background-image: url(../images/7/loyalty.svg);
  }

  &__details {
    height: 90px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #78B6E1;
  }

  &__date,
  &__success {
    display: inline-block;
    text-align: center;
    font-size: 0.875em;

    & img {
      display: block;
      margin: 0 auto;
    }
  }

  &__date {
    width: 100px;
  }
  &__success {
    width: 60px;
  }

  .add-goal {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }

  .tooltip {
    font-size: 12px;
  }
}

.picked {
  margin-bottom: 1em;
  padding-top: 1em;
  color: #FFF;
  display: none;
  background-color: $text;
  box-shadow: 0 1px 2px rgba(0,0,0,.28);

  &--show {
    display: block;
  }

  .dragger {
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: rgba(254,254,254,.7);
    border-radius: 3px;
    cursor: pointer;
  }

  &__title {
    margin-top: 0.5em;
    font-size: 1.25em;
  }

  p img {
    margin-right: 5px;
    vertical-align: bottom;
  }

  &__actions {
    padding: 10px;
    text-align: left;
    background-color: #FFF;

    a {
      color: #000;
      font-weight: 500;
      cursor: pointer;
    }

    &__delete {
      float: right;
    }
  }
}
