.step--retirement {
  .zmdi {
    cursor: pointer;
    color: $textLight;
  }

  .zmdi-check-circle {
    font-size: 1.5em;
  }

  .zmdi-info-outline {
    font-size: 1.5em;
  }

  .saved {
    color: #7ED321;
  }

  .th-todo {
    color: #fff;
    background-color: #7ED321;

    &not {
      color: #fff;
      background-color: #E97B6C;
    }
  }

}
