/* 9-PLAN
   ========================================================================== */

.step--plan {
  text-align: left;

  form {

  }
  .form-title {
    font-size: 1.25em;
    font-weight: 600;
  }
}

.action {
  color: #fff;

  .panel-heading {
    color: inherit;
    background-color: $textLight;
    border: 1px solid darken($textLight, 10%);;

    a {
      color: #fff;
    }
  }

  .panel-body {
    background-color: #47546A;
  }

  p {
    margin: 0;
  }

  .zmdi {
    cursor: pointer;
    font-size: 1.25em;

    &-chevron-down {
      vertical-align: middle;
      transition: transform ease 0.3s;
    }
  }

  &__buttons {
    text-align: center;

    .zmdi {
      font-size: 1.5em;
    }
  }

  .popover {
    top: -66px !important; //overwrite inline styles applied by Bootstrap
    left: -270px !important;
    color: $text;
    font-weight: inherit;
  }

}

.rotate {
  transform: rotate(180deg);
}
