.noUi-target {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 4px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 2px;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  left: -7px;
  width: 14px;
  height: 14px;
}
.noUi-handle {
  left: -7px;
  width: 14px;
  height: 14px;
  background-color: $primary;
  border: 0;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  &:after {
    display: none;
  }
  &:before {
    content: " ";
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid #4ea1d7;
    border-radius: 50%;
  }
}
.noUi-base {
  background-color: $primary;
}
.noUi-origin {
  background-color: #d3d3d3;
  border-radius: 0;
}
.slider-tooltip {
  position: absolute;
  top: -24px;
  left: -4px;
  font-size: 14px;
}
.noUi-marker,
.noUi-marker-large,
.noUi-marker-sub {
  width: 1px !important;
  background-color: $primaryDarker;
}
.noUi-pips {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $primaryDarker;
  &-horizontal {
    padding: 5px 0;
  }
}
.circle-legend {
  ul {
    list-style-type: none;
  }
  .doughnut-legend {
    display: inline-block;
    text-align: left;
  }
  span {
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
}
