body {
  font-weight: 300;
  font-size: 17px;

  @media (min-width: $screen-desktop) {
    font-size: 16px;
    padding-top: 3.125em;
  }
}

img,
svg {
  max-width: 100%;
}

th {
  font-weight: normal;
  text-align: center;
}

@mixin flex {
  @media (min-width: $screen-desktop) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
