{% extends '../templates/step.html' %}

{% set stepName = "about" %}
{% set nextStepName = "expenses" %}

{% block header %}
  Tell us about you
{% endblock %}

{% block content %}
<div class="age">
  <p class="heading">What is your age?</p>
  <div class="age__slider"></div>
</div>
<div class="row">
  <div class="situation col-ms-6">
    <p class="heading">What is your situation?</p>
    <select class="select" name="situation">
      <option value="single">Single</option>
      <option value="married" selected>Married - no kids</option>
      <option value="married-kids">Married - with kids</option>
      <option value="single-kids">Single - with kids</option>
    </select>
  </div>
  <div class="house col-ms-6">
    <p class="heading">Where do you live?</p>
    <select class="select" name="house">
      <option value="rent">I rent my home</option>
      <option value="own" selected>I own my home</option>
      <option value="other">Others</option>
    </select>
  </div>
</div> <!-- </row> -->
<div class="income">
  <p class="heading">How much do you earn a year?</p>
  <div class="income__slider"></div>
</div>
{% endblock %}