{% extends '../templates/step.html' %}

{% set stepName = "comparison" %}
{% set nextStepName = "scenarios" %}

{% block header %}
  Compare you expenses with your peers
{% endblock %}

{% block content %}
<div class="row">
  <div class="comparison col-sm-6">
    <div class="budget row">
      <div class="col-ms-6">
        <span class="budget__title">Your budget</span>
        <div class="budget__income">
          <span class="value">
            <span class="value__actual">$114.000</span>
            per year
          </span>
        </div>
      </div>
      <div class="col-ms-6">
        <div class="budget__categories">
          <div class="budget__category budget__category--basic">
            <span class="dot"></span>
            <span class="budget__category__name">Basic Needs</span>
            <span class="budget__category__value">
              <span class="actual">$43,000</span> -
              <span class="rate">40%</span>
            </span>
          </div>
          <div class="budget__category budget__category--discretionary">
            <span class="dot"></span>
            <span class="budget__category__name">Discretionary Expenses</span>
            <span class="budget__category__value">
              <span class="actual">$43,000</span> -
              <span class="rate">40%</span>
            </span>
          </div>
          <div class="budget__category budget__category--savings">
            <span class="dot"></span>
            <span class="budget__category__name">Savings</span>
            <span class="budget__category__value">
              <span class="actual">$43,000</span> -
              <span class="rate">40%</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="others">
      <p>Avarage budget of people who are similar to you (peers)</p>
      <ul class="others__summary">
        <li class="others__category others__category--basic">
          <span class="dot"></span>
          Basic Needs:
          <span class="others__category__value">
            <span class="actual">$43,000</span> -
            <span class="rate">40%</span>
          </span>
        </li>
        <li class="others__category others__category--discretionary">
          <span class="dot"></span>
          Discretionary Expenses:
          <span class="others__category__value">
            <span class="actual">$43,000</span> -
            <span class="rate">40%</span>
          </span>
        </li>
        <li class="others__category others__category--savings">
          <span class="dot"></span>
          Savings:
          <span class="others__category__value">
            <span class="actual">$43,000</span> -
            <span class="rate">40%</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="comparison-chart" style="height: 300px;"></div>
    <p class="small">
      <span class="dot"></span>
      your peers
    </p>
  </div>
</div>
<p class="conclusion"></p>
<hr />
<div class="advanced-comparison">
  <h4>Advanced comparison</h4>
  <p class="info">
    If you want a more meaningful comparison estimate how you spend your money and enter your detailed expenses on the previous step.
    <br /> <br />
    <button class="backward btn btn-info" data-template="you">Return to the previous step</button>
  </p>
  <div class="detailed-chart" style="height: 400px"></div>
  <p class="legend"><span class="dot"></span> your peers</p>
</div>
{% endblock %}