{% extends '../templates/step.html' %}

{% set stepName = "intro" %}
{% set nextStepName = "about" %}
{% set isShown = true %}

{% block header %}
  Simple Steps, Easy Habits - A PLAN TO BUILD WEALTH
{% endblock %}

{% block content %}
<div class="col-md-5">
  <ul class="features">
    <li>Answer 6 easy questions about yourself</li>
    <li>We show you what your financial future holds in store for you</li>
    <li>See how you spend money compared to other people like you</li>
    <li>We show you what your peers are doing differently to succeed</li>
    <li>Build an easy to use action plan</li>
    <li>Get reminders to coach you</li>
    <li><strong>Safe and anonymous</strong> – signup is optional</li>
  </ul>
</div>
<div class="offers col-md-7">
  <p class="heading">What you get</p>
  <div class="offer clearfix">
    <img src="images/1/icon-graph.svg" alt="Chart" />
    <p>Budgeting: How your expenses compare to others like you & tips to save more’</p>
  </div>
  <div class="offer clearfix">
    <img class="float-right" src="images/1/icon-chart.svg" alt="Chart" />
    <p>Personalized charts and ‘What if’ scenarios to help you</p>
  </div>
  <div class="offer clearfix">
    <img src="images/1/icon-checklist.svg" alt="Chart" />
    <p>Checklist of tasks and habits that your peers are using to build wealth & a <strong>Personalized Plan</strong></p>
  </div>
  <div class="offer clearfix">
    <img class="float-right" src="images/1/icon-ticket.svg" alt="Chart" />
    <p>Optional reminders to keep you on track</p>
  </div>
</div>
{% endblock %}
