{% extends '../templates/step.html' %}

{% set stepName = "plan" %}
{% set nextStepName = "reminders" %}

{% block header %}
  Saving for retirement
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Save</th>
          <th class="th-todo">Things to do</th>
          <th class="th-todonot">Things to avoid</th>
          <th>Why</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
{% endblock %}