{% extends '../templates/step.html' %}

{% set stepName = "reminders" %}
{% set isLastStep = true %}

{% block header %}
  Action Plan
{% endblock %}

{% block content %}

<div class="row">
  <!-- Action Plan -->
</div>

<div class="sign form-inline">
  <h4 class="form-title">Signup for reminders</h4>
  <div class="form-group">
    <label for="text-email">Email address</label>
    <input class="sign__email form-control" type="email" name="text-email" placeholder="example@gmail.com">
  </div>
  <input type="button" class="sign__save btn btn-primary" value="Save" />
</div>
{% endblock %}

{% block end %}
<div class="print">
    <a class="print__button">PRINT<i class="zmdi zmdi-print"></i></a>
  </div>
{% endblock %}
