/* ==========================================================================
   BASE
   @mixin ========================================================================= */
body {
  font-weight: 300;
  font-size: 17px; }
  @media (min-width: 992px) {
    body {
      font-size: 16px;
      padding-top: 3.125em; } }

img,
svg {
  max-width: 100%; }

th {
  font-weight: normal;
  text-align: center; }

/* ==========================================================================
   COMPONENTS
   @mixin ========================================================================= */
/* HAMBURGER MENU
   ========================================================================== */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.1s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx span {
  transition: background 0s 0.1s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.1s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.1s; }

.noUi-target {
  margin-top: 2.5em;
  margin-bottom: 3em;
  height: 4px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 2px;
  box-shadow: none; }

.noUi-horizontal .noUi-handle {
  left: -7px;
  width: 14px;
  height: 14px; }

.noUi-handle {
  left: -7px;
  width: 14px;
  height: 14px;
  background-color: #4EA1D7;
  border: 0;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer; }
  .noUi-handle:after {
    display: none; }
  .noUi-handle:before {
    content: " ";
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid #4ea1d7;
    border-radius: 50%; }

.noUi-base {
  background-color: #4EA1D7; }

.noUi-origin {
  background-color: #d3d3d3;
  border-radius: 0; }

.slider-tooltip {
  position: absolute;
  top: -24px;
  left: -4px;
  font-size: 14px; }

.noUi-marker,
.noUi-marker-large,
.noUi-marker-sub {
  width: 1px !important;
  background-color: #182C4D; }

.noUi-pips {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #182C4D; }
  .noUi-pips-horizontal {
    padding: 5px 0; }

.circle-legend ul {
  list-style-type: none; }

.circle-legend .doughnut-legend {
  display: inline-block;
  text-align: left; }

.circle-legend span {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px; }

.ct-square svg {
  margin: 0 auto;
  position: static; }

.ct-chart-bar,
.ct-label {
  color: #182C4D;
  font-weight: normal; }

/* ==========================================================================
   LAYOUT
   @mixin ========================================================================= */
.app {
  text-align: center;
  background-color: #182C4D;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.38);
  overflow: hidden; }

/* HEADER & NAVIGATION
   ========================================================================== */
/* Header */
.header > span {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: normal; }

.brand-name {
  display: block;
  background-color: #4EA1D7; }
  .brand-name a {
    color: #FFF;
    font-size: 1.25em; }
    .brand-name a :hover {
      color: #FFF; }

/* Menu toggle */
.nav {
  text-align: left;
  color: #9DACC5;
  transition: height 0.3s ease-out; }
  @media (max-width: 992px) {
    .nav {
      height: 0; } }
  .nav__label {
    margin-top: 16px;
    margin-left: 16px;
    text-align: left;
    font-size: 0.875em;
    font-weight: 300;
    opacity: 0.64; }
  .nav ul {
    padding-left: 0;
    list-style-type: none; }
  .nav li {
    position: relative;
    padding: 10px 0;
    padding-left: 20px;
    cursor: pointer; }
    .nav li.disabled {
      opacity: .3; }
    .nav li:before {
      content: " ";
      position: absolute;
      left: 11px;
      top: 10px;
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #9DACC5; }
    .nav li.active, .nav li:not(.disabled):hover {
      color: #FFFBF3;
      background-color: #d8d8d8;
      background-color: rgba(216, 216, 216, 0.08); }
      .nav li.active:before, .nav li:not(.disabled):hover:before {
        border-color: #FFFBF3; }
  .nav .step-number {
    margin-right: 16px; }

@media (max-width: 992px) {
  .menu-open .nav {
    height: 457px; } }

.c-hamburger {
  position: absolute;
  top: 10px;
  right: 10px; }
  @media (min-width: 992px) {
    .c-hamburger {
      display: none; } }

.reset-model {
  color: #999;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px; }

/* Material Design Icons */
.zmdi {
  vertical-align: middle;
  transition: -webkit-transform ease-out 0.4s;
  transition: transform ease-out 0.4s;
  transition: transform ease-out 0.4s, -webkit-transform ease-out 0.4s; }

/* CONTENT OF EACH STEP
   ========================================================================== */
.main {
  background-color: #fff; }

.step-title {
  margin: 0;
  margin-top: 4px;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .step-title {
      padding-left: 2em;
      text-align: left; } }

.step {
  display: none; }
  .step.show {
    display: block; }
  .step__header {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: normal; }
  .step__content {
    padding: 0 1em; }
    @media (min-width: 992px) {
      .step__content {
        min-height: 370px; } }

.heading {
  border-bottom: 1px solid rgba(184, 187, 198, 0.22);
  font-weight: normal;
  font-size: 1.125em;
  margin-bottom: 1.125em; }

.continue,
.print {
  margin-top: 2em;
  line-height: 50px;
  text-transform: uppercase;
  background-color: #9CBBCF;
  transition: background-color ease-out 1s;
  cursor: pointer; }
  .continue:hover,
  .print:hover {
    background-color: #30517A; }
    .continue:hover .zmdi,
    .print:hover .zmdi {
      -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
              transform: translateX(20px); }
  .continue__button,
  .print__button {
    color: white !important; }
  .continue .zmdi,
  .print .zmdi {
    margin-left: 10px;
    vertical-align: initial; }

/* ==========================================================================
   PRINT
   ========================================================================== */
.print-page {
  display: none; }

@media print {
  .no-print > * {
    display: none; }
  .print-page {
    display: block; } }

/* ==========================================================================
   STEPS
   @mixin ========================================================================= */
/* 1-INTRO
   ========================================================================== */
.step--intro {
  text-align: center; }
  @media (min-width: 992px) {
    .step--intro .step__content {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .step--intro .step__content > div {
    padding: 0 1em; }
  @media (min-width: 992px) {
    .step--intro .step__content > div:last-child {
      border-left: 1px solid rgba(156, 187, 207, 0.4); } }
  .step--intro .heading {
    margin-top: 1em; }
  .step--intro .features {
    list-style-position: inside;
    margin: 0 auto;
    max-width: 30em;
    padding-left: 0;
    text-align: left; }
  .step--intro .offer {
    margin-top: 3em;
    text-align: center; }
    @media (min-width: 992px) {
      .step--intro .offer {
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .step--intro .offer img {
      margin-right: 1em; }
    .step--intro .offer .float-right {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 1em; }

/* 2-ABOUT
   ========================================================================== */
.step--about .age__slider {
  margin-bottom: 80px; }

.step--about .age .slider-tooltip {
  left: 0; }

.step--about .situation {
  margin-bottom: 3em; }

.step--about .select {
  height: 40px;
  padding: 4px 15px;
  background: none;
  border: 1px solid #9DACC5; }
  @media (min-width: 768px) {
    .step--about .select {
      width: 12.5em; } }

@media (max-width: 768px) {
  .step--about .house {
    margin-bottom: 3em; } }

.step--about .income .slider-tooltip {
  left: -16px; }

/* 3-YOU
   ========================================================================== */
.step--expenses .noUi-target {
  margin-bottom: 2em; }

.step--expenses .slider-tooltip {
  left: -5px; }

.step--expenses .ct-square:before {
  padding-bottom: 16.5em; }

.step--expenses .ct-label {
  display: none; }

.step--expenses .ct-series-a .ct-slice-donut {
  stroke: #D3D3D3; }

.step--expenses .ct-series-b .ct-slice-donut {
  stroke: #E76A5A; }

.step--expenses .ct-series-c .ct-slice-donut {
  stroke: #9DDC57; }

.step--expenses .ct-legend {
  margin-top: 2em;
  text-align: left;
  list-style-type: none; }
  .step--expenses .ct-legend__color {
    display: inline-block;
    width: 12px;
    height: 12px; }
    .step--expenses .ct-legend__color--basic {
      background-color: #d3d3d3; }
    .step--expenses .ct-legend__color--disc {
      background-color: #E76A5A; }
    .step--expenses .ct-legend__color--savings {
      background-color: #9ddc57; }

.step--expenses .current-savings {
  margin-top: 1.5em; }

.step--expenses .bls {
  text-align: left; }

.step--expenses .pie-tooltip {
  position: absolute;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  background-color: #30517A;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 9; }

.step--expenses .panel-default {
  border: 0;
  box-shadow: none; }
  .step--expenses .panel-default .zmdi-chevron-down {
    margin-left: 1em; }
  .step--expenses .panel-default .panel-heading {
    background: rgba(255, 255, 255, 0);
    border-color: #d3d3d3;
    font-weight: normal;
    text-align: left; }
    .step--expenses .panel-default .panel-heading a {
      color: #555555; }
    .step--expenses .panel-default .panel-heading small {
      color: #555555; }

.step--expenses .details-values {
  padding-left: 0;
  text-align: left; }
  .step--expenses .details-values .detail {
    display: inline-block;
    list-style-type: none;
    margin-top: .5em;
    width: 50%; }
    @media (min-width: 768px) {
      .step--expenses .details-values .detail {
        width: 33%; } }
    .step--expenses .details-values .detail__name {
      display: inline-block;
      line-height: 1em;
      margin-bottom: 5px;
      margin-top: 1em;
      text-align: center;
      vertical-align: middle;
      width: 100%; }
      @media (min-width: 768px) {
        .step--expenses .details-values .detail__name {
          margin: 0;
          text-align: right;
          width: 100px; } }
    .step--expenses .details-values .detail .value-wrapper:after {
      content: "%";
      font-size: .875em;
      margin-left: .5em; }
    .step--expenses .details-values .detail__value {
      border: 2px solid #9CBBCF;
      border-radius: 2px;
      margin-left: 1em;
      padding: 0 .5em;
      width: 50px; }
      .step--expenses .details-values .detail__value:after {
        content: '%'; }

/* 5-PYRAMID
   ========================================================================== */
.step--comparison {
  color: #182C4D;
  font-weight: normal; }
  .step--comparison .dot {
    background-color: #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    height: .75em;
    width: .75em; }
  .step--comparison .conclusion {
    margin-top: 1em; }

.comparison .others .dot {
  margin-right: .5em; }

.comparison .others__summary {
  font-size: .875em;
  list-style-type: none;
  text-align: left; }

.comparison .others__category__value {
  font-size: 1rem; }

.comparison-chart .ct-series-a .ct-bar:first-child {
  stroke: #4EA1D7; }

.comparison-chart .ct-series-a .ct-bar:nth-child(2) {
  stroke: #E76A5A; }

.comparison-chart .ct-series-a .ct-bar:nth-child(3) {
  stroke: #7ed321; }

.comparison-chart .ct-series-b .ct-bar {
  stroke: #d3d3d3; }

.budget {
  padding: 1em 0; }
  .budget__income {
    border: 2px solid #333333;
    border-radius: 50%;
    font-size: 1.125em;
    font-weight: 400;
    height: 9em;
    line-height: 9em;
    margin: 1em auto;
    width: 9em; }
    .budget__income .value {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5em; }
      .budget__income .value__actual {
        display: block;
        font-size: 1.875em; }
  .budget__title {
    font-size: 1.125em;
    font-weight: 400; }
  .budget__category {
    font-size: .875em;
    margin-bottom: 1em; }
    .budget__category .dot {
      display: block;
      margin: 0 auto; }
    .budget__category--basic .dot {
      background-color: #4EA1D7; }
    .budget__category--discretionary .dot {
      background-color: #E76A5A; }
    .budget__category--savings .dot {
      background-color: #7ed321; }
    .budget__category__name {
      display: block; }
    .budget__category__value {
      font-size: 1rem; }

.advanced-comparison .detailed-chart {
  display: none; }
  .advanced-comparison .detailed-chart .ct-bar {
    stroke-width: 9px; }
  .advanced-comparison .detailed-chart .ct-series-a .ct-bar {
    stroke: #4EA1D7; }
  .advanced-comparison .detailed-chart .ct-series-b .ct-bar {
    stroke: #d3d3d3; }

.advanced-comparison .legend {
  display: none; }

.advanced-comparison.show-chart .info {
  display: none; }

.advanced-comparison.show-chart .detailed-chart,
.advanced-comparison.show-chart .legend {
  display: block; }

/* 6-SCENARIOS
   ========================================================================== */
.step--scenarios .noUi-target {
  margin-bottom: 30px; }

.step--scenarios .option {
  padding: 0 1em; }

.step--scenarios .option--income .slider-tooltip {
  left: -16px; }

.step--scenarios .investment {
  margin: 1em 0; }
  .step--scenarios .investment input {
    display: none; }
    .step--scenarios .investment input:checked + label {
      background-color: rgba(78, 161, 215, 0.2);
      border-color: #4EA1D7; }
  .step--scenarios .investment label {
    margin: 0 15px 1em 15px;
    font-size: .9em;
    display: block;
    background-color: rgba(78, 161, 215, 0.1);
    border: 1px solid #C5CFDB;
    width: 300px;
    padding: 5px 20px;
    transition: all ease-in-out 0.5s;
    cursor: pointer; }
    @media (min-width: 480px) {
      .step--scenarios .investment label {
        display: inline-block;
        width: auto; } }
    .step--scenarios .investment label > * {
      display: block; }
  .step--scenarios .investment__gain {
    font-size: 1.4em;
    font-weight: normal; }

.step--scenarios .panel a {
  color: #30517A; }

.step--scenarios .ct-chart {
  position: relative; }
  .step--scenarios .ct-chart::before {
    content: 'Savings ($)';
    font-weight: normal;
    left: -35px;
    position: absolute;
    top: 100px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .step--scenarios .ct-chart::after {
    bottom: 0;
    content: 'Age';
    font-weight: normal;
    left: 50%;
    position: absolute; }

.step--scenarios .ct-chart-line {
  padding-left: 15px; }

.step--scenarios .ct-label {
  color: inherit;
  font-size: .875em; }

.step--scenarios .ct-point,
.step--scenarios .ct-line {
  stroke: #7ed321; }

.step--scenarios .ct-area {
  fill: #7ed321; }

.step--scenarios .savings {
  margin: 2em auto 0 auto;
  color: #fff;
  max-width: 340px;
  padding: 1.2em 0;
  background-color: #4EA1D7; }
  .step--scenarios .savings p {
    margin-bottom: 0; }
  .step--scenarios .savings__amount {
    font-size: 2.5em; }

/* 7-GOAL
   ========================================================================== */
.step--goal .zmdi {
  font-size: 24px; }

.goal {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  width: 220px;
  padding-left: 46px;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 15%;
  background-color: #30517A;
  color: #FFF;
  line-height: 1.125em; }
  @media (max-width: 992px) {
    .goal {
      margin-right: 1em; } }
  .goal--hide {
    display: none; }
  .goal--college {
    background-image: url(../images/7/school.svg); }
  .goal--home {
    background-image: url(../images/7/home.svg); }
  .goal--car {
    background-image: url(../images/7/car.svg); }
  .goal--funds {
    background-image: url(../images/7/loyalty.svg); }
  .goal--cards {
    background-image: url(../images/7/bank.svg); }
  .goal--retire {
    background-image: url(../images/7/retirement.svg); }
  .goal__details {
    height: 90px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #78B6E1; }
  .goal__date, .goal__success {
    display: inline-block;
    text-align: center;
    font-size: 0.875em; }
    .goal__date .zmdi, .goal__success .zmdi {
      display: block;
      margin: 0 auto; }
  .goal__date {
    width: 100px; }
  .goal__success {
    width: 60px; }
  .goal .add-goal {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #30517A;
    cursor: pointer; }
  .goal .tooltip {
    font-size: 12px; }

.picked {
  position: relative;
  margin-bottom: 1em;
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 17em;
  color: #FFF;
  background-color: #30517A;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28); }
  @media (max-width: 992px) {
    .picked {
      margin-right: 1em; } }
  .picked--show {
    display: inline-block; }
  .picked .dragger {
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: rgba(254, 254, 254, 0.7);
    border-radius: 3px;
    cursor: pointer; }
  .picked__title {
    margin-top: 0.5em;
    font-size: 1.25em; }
  .picked__date {
    cursor: pointer; }
  .picked .goal__date__picker {
    width: 100px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer; }
  .picked p .zmdi {
    margin-right: 5px;
    vertical-align: bottom; }
    .picked p .zmdi-edit {
      margin-left: 10px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      vertical-align: baseline; }
  .picked .delete-goal {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #E76A5A;
    cursor: pointer; }

/* 8-RETIREMENT
   ========================================================================== */
.step--plan .zmdi {
  color: #9DACC5;
  cursor: pointer; }

.step--plan .zmdi-check-circle {
  font-size: 1.5em; }

.step--plan .zmdi-info-outline {
  font-size: 1.5em; }

.step--plan .saved {
  color: #7ed321; }

.step--plan .th-todo {
  color: #fff;
  background-color: #7ed321; }
  .step--plan .th-todonot {
    color: #fff;
    background-color: #E97B6C; }

.step--plan .popover ul {
  padding-left: 1em; }

/* 9-PLAN
   ========================================================================== */
.step--plan .form-title {
  font-size: 1.25em;
  font-weight: 600; }

.action {
  color: #fff; }
  .action .panel-heading {
    color: inherit;
    background-color: #9DACC5;
    border: 1px solid #7d91b2; }
    .action .panel-heading a {
      color: #fff; }
  .action .panel-body {
    background-color: #47546A; }
  .action p {
    margin: 0; }
  .action .zmdi {
    cursor: pointer;
    font-size: 1.25em; }
  .action__buttons {
    text-align: center; }
    .action__buttons .zmdi {
      font-size: 1.5em; }
  .action .popover {
    top: -66px !important;
    left: -270px !important;
    color: #30517A;
    font-weight: inherit; }

.rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

/*# sourceMappingURL=maps/main.css.map */
