<div class="header">
  <p class="step-title">Create a plan to build wealth</p>
</div>
<div class="step step--first flex">
  <div class="col-md-4">
    <ul class="step__list">
      <li>Answer 6 easy questions about yourself</li>
      <li>We show you what your financial future holds in store for you</li>
      <li>We show you what your peers are doing differently su succeed</li>
      <li>Build an easy to use action plan</li>
      <li>Get reminders to coach you</li>
    </ul>
  </div>
  <div class="col-md-8">
    <p class="step__desc">What you get</p>
    <div class="offer flex clearfix">
      <img class="icon--chart float-right" src="images/icon-chart.svg" alt="Chart" />
      <p>Personalized charts and ‘What if’ scenarios to help you</p>
    </div>
    <div class="offer flex clearfix">
      <img src="images/icon-checklist.svg" alt="Chart" />
      <p>Checklist of tasks and habits that your peers are using to build wealth & <u>Personalized Plan</u></p>
    </div>
    <div class="offer flex clearfix">
      <img class="float-right" src="images/icon-ticket.svg" alt="Chart" />
      <p>Optional reminders to keep you on track</p>
    </div>
  </div>
</div> <!-- </step> -->
<div class="continue">
  <a class="continue__button" data-template="templates/2-about.html">CONTINUE</a>
</div>
