<div class="header">
  <p class="step-title">Your savings and expenses</p>
</div>
<div class="step step--savings">
  <div class="about__savings">
    <p class="about__question">How much do you save?</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>What are your basic needs?</p>
      <div class="about__savings__slider--needs"></div>
    </div>
    <div class="col-md-6">
      <p>What are your discretionary expenses?</p>
      <div class="about__savings__slider--expenses"></div>
    </div>
  </div>
  <div class="flex">
    <div class="canvas-wrap">
      <canvas class="about__savings__circle"></canvas>
    </div>
    <div class="circle-legend"></div>
  </div>
</div> <!-- </step> -->
<div class="continue">
  <a class="continue__button" data-template="templates/4-people.html">CONTINUE</a>
</div>
