<div class="header">
  <p class="step-title">This is you now</p>
</div>
<div class="step step--first">
  <svg width="505" height="374" viewBox="0 0 505 374" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>
      Pyramid Chart
    </title>
    <defs>
      <path d="M175.148 32.536l-.26-.33-.182.994-114.2 171.28 77.3 31.23-.042.235.384-.096.248.1.03-.17 164.888-41.112-127.97-161.886.133-.738-.33.492z" id="a"/>
      <path d="M175.43 32.27l-.12-.152-.083.458-52.603 78.895 35.606 14.386-.02.108.177-.044.115.046.014-.078 75.95-18.937-58.946-74.566.062-.34-.15.227z" id="c"/>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(0 -19)">
        <path fill="#9CBBCF" d="M175.478 32.292l196.684 248.81-253.537 63.213"/>
        <path fill="#8CA9BC" d="M176.38 32.044l-56.788 312.278L.305 296.127"/>
        <mask id="b" fill="#fff">
          <use xlink:href="#a"/>
        </mask>
        <use fill="#E97B6C" xlink:href="#a"/>
        <g mask="url(#b)">
          <path fill="#182C4D" d="M175.478 32.292l196.684 248.81-253.537 63.213"/>
          <path fill="#132645" d="M176.38 32.044l-56.788 312.278L.305 296.127"/>
        </g>
        <mask id="d" fill="#fff">
          <use xlink:href="#c"/>
        </mask>
        <use fill="#182C4D" xlink:href="#c"/>
        <g mask="url(#d)">
          <path fill="#E97B6C" d="M175.478 32.292l196.684 248.81-253.537 63.213"/>
          <path fill="#DD6B5B" d="M176.38 32.044l-56.788 312.278L.305 296.127"/>
        </g>
      </g>
      <g transform="translate(179 -1)">
        <ellipse stroke="#D3D3D3" cx="5.485" cy="68.5" rx="5.485" ry="5.5"/>
        <path d="M6.482 67.5l43.724-43.846M50.36 1.5v22" stroke="#D3D3D3" stroke-linecap="square"/>
        <ellipse fill="#D3D3D3" cx="5.485" cy="68.5" rx="1.496" ry="1.5"/>
        <text font-family="Source Sans Pro" font-size="18">
          <tspan x="58.836" y="18" fill="#E97B6C">Savings:</tspan> <tspan id="pyramid-savings" x="120" y="18" fill="#ACACAC">$ 3,360/yr</tspan>
        </text>
      </g>
      <g transform="translate(308.638 169)">
        <ellipse stroke="#D3D3D3" cx="5.485" cy="68.5" rx="5.485" ry="5.5"/>
        <path d="M6.482 67.5l43.724-43.846M50.36 1.5v22" stroke="#D3D3D3" stroke-linecap="square"/>
        <ellipse fill="#D3D3D3" cx="5.485" cy="68.5" rx="1.496" ry="1.5"/>
        <text font-family="Source Sans Pro" font-size="18" fill="#9DACC5">
          <tspan x="58.836" y="18">Basic Needs:</tspan>
          <tspan id="pyramid-basic" x="58.836" y="42" fill="#ACACAC">$ 12,000/yr</tspan>
        </text>
      </g>
      <g transform="translate(238.833 79)">
        <ellipse stroke="#D3D3D3" cx="5.485" cy="68.5" rx="5.485" ry="5.5"/>
        <path d="M6.482 67.5l43.724-43.846M50.36 1.5v22" stroke="#D3D3D3" stroke-linecap="square"/>
        <ellipse fill="#D3D3D3" cx="5.485" cy="68.5" rx="1.496" ry="1.5"/>
        <text font-family="Source Sans Pro" font-size="18">
          <tspan x="60.009" y="18" fill="#182C4D">Discretionary Spending: </tspan><tspan id="pyramid-discretionary" x="113.181" y="41" fill="#ACACAC">$ 7,680/yr</tspan>
        </text>
      </g>
      <g transform="translate(312 326)">
        <text font-family="Source Sans Pro" font-size="20" fill="#30517A">
          <tspan id="pyramid-income" x="51.739" y="31">$ 48.000 per year</tspan>
        </text>
        <rect stroke="#30517A" stroke-width="2" width="35.819" height="48" rx="2"/>
        <rect stroke="#30517A" stroke-width="2" x="5.97" y="6" width="23.879" height="10" rx="2"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="8.955" cy="23" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="26.864" cy="23" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="17.91" cy="23" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="8.955" cy="31" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="26.864" cy="31" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="17.91" cy="31" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="8.955" cy="39" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="26.864" cy="39" rx="2.985" ry="3"/>
        <ellipse stroke="#30517A" stroke-width="2" cx="17.91" cy="39" rx="2.985" ry="3"/>
      </g>
    </g>
  </svg>
</div> <!-- </step> -->
<div class="continue" data-template="scenarios">
  <a class="continue__button">CONTINUE <i class="zmdi zmdi-long-arrow-right"></i></a>
</div>
