<div class="header">
  <p class="step-title">Pick a goal</p>
</div>
<div class="step step--goals">
  <div class="wrapper">
    <p class="about__question">Pick one or more goals from the left and set them on the right</p>
    <div class="row">
      <div class="col-md-6">
        <div class="goals">
          <div class="goal goal--college">
            <div class="goal__details">
              <p class="goal__title">Save for college</p>
              <span class="goal__date" data-placement="bottom" data-toggle="tooltip" title="Expected achievement date
  based on your data">
                <i class="zmdi zmdi-calendar-alt"></i>
                <span>January 2018</span>
              </span>
              <span class="goal__success" data-placement="bottom" data-toggle="tooltip" title="Expected achievement probability
  based on your data">
                <i class="zmdi zmdi-chart"></i>
                <span>85%</span>
              </span>
            </div>
            <i class="add-goal zmdi zmdi-plus-circle" data-picked="college"></i>
          </div>
<!-- /.goal -->

          <div class="goal goal--home">
            <div class="goal__details">
              <p class="goal__title">Buy a home</p>
              <span class="goal__date" data-placement="bottom" data-toggle="tooltip" title="Expected achievement date
  based on your data">
                <i class="zmdi zmdi-calendar-alt"></i>
                <span>March 2017</span>
              </span>
              <span class="goal__success" data-placement="bottom" data-toggle="tooltip" title="Expected achievement probability
  based on your data">
                <i class="zmdi zmdi-chart"></i>
                <span>85%</span>
              </span>
            </div>
            <i class="add-goal zmdi zmdi-plus-circle" data-picked="home"></i>
          </div>
<!-- /.goal -->

          <div class="goal goal--car">
            <div class="goal__details">
              <p class="goal__title">Buy a car</p>
              <span class="goal__date" data-placement="bottom" data-toggle="tooltip" title="Expected achievement date
  based on your data">
                <i class="zmdi zmdi-calendar-alt"></i>
                <span>March 2016</span>
              </span>
              <span class="goal__success" data-placement="bottom" data-toggle="tooltip" title="Expected achievement probability
  based on your data">
                <i class="zmdi zmdi-chart"></i>
                <span>98%</span>
              </span>
            </div>
            <i class="add-goal zmdi zmdi-plus-circle" data-picked="car"></i>
          </div>
<!-- /.goal -->

          <div class="goal goal--funds">
            <div class="goal__details">
              <p class="goal__title">Emergency funds</p>
              <span class="goal__date" data-placement="bottom" data-toggle="tooltip" title="Expected achievement date
  based on your data">
                <i class="zmdi zmdi-calendar-alt"></i>
                <span>December 2015</span>
              </span>
              <span class="goal__success" data-placement="bottom" data-toggle="tooltip" title="Expected achievement probability
  based on your data">
                <i class="zmdi zmdi-chart"></i>
                <span>92%</span>
              </span>
            </div>
            <i class="add-goal zmdi zmdi-plus-circle" data-picked="funds"></i>
          </div>
<!-- /.goal -->
        </div>
      </div>
<!-- /col-md-6 -->
      <div class="col-md-6">
        <p>
          <strong>Picked Goals</strong>
          (Drag & Drop to order)</p>
        <div class="picked-goals">
          <div class="picked picked--college">
            <div class="picked__details">
              <div class="dragger"></div>
              <p class="picked__title">Save for college</p>
              <p class="picked__date">
                <i class="zmdi zmdi-calendar-alt"></i>
                <input class="goal__date__picker" type="text" value="Jan 15 2015" readonly>
                <i class="zmdi zmdi-edit"></i>
              </p>
              <p class="picked__success"><i class="zmdi zmdi-chart"></i>85%</p>
            </div>
            <i class="delete-goal zmdi zmdi-minus-circle" data-goal="college"></i>
          </div>
          <div class="picked picked--home">
            <div class="picked__details">
              <div class="dragger"></div>
              <p class="picked__title">Buy a home</p>
              <p class="picked__date">
                <i class="zmdi zmdi-calendar-alt"></i>
                <input class="goal__date__picker" type="text" value="Mar 1 2018" readonly>
                <i class="zmdi zmdi-edit"></i>
              </p>
              <p class="picked__success"><i class="zmdi zmdi-chart"></i>85%</p>
            </div>
            <i class="delete-goal zmdi zmdi-minus-circle" data-goal="home"></i>
          </div>
          <div class="picked picked--car">
            <div class="picked__details">
              <div class="dragger"></div>
              <p class="picked__title">Buy a car</p>
              <p class="picked__date">
                <i class="zmdi zmdi-calendar-alt"></i>
                <input class="goal__date__picker" type="text" value="Mar 15 2016" readonly>
                <i class="zmdi zmdi-edit"></i>
              </p>
              <p class="picked__success"><i class="zmdi zmdi-chart"></i>98%</p>
            </div>
            <i class="delete-goal zmdi zmdi-minus-circle" data-goal="car"></i>
          </div>
          <div class="picked picked--funds">
            <div class="picked__details">
              <div class="dragger"></div>
              <p class="picked__title">Emergency Funds</p>
              <p class="picked__date">
                <i class="zmdi zmdi-calendar-alt"></i>
                <input class="goal__date__picker" type="text" value="Dec 21 2015" readonly>
                <i class="zmdi zmdi-edit"></i>
              </p>
              <p class="picked__success"><i class="zmdi zmdi-chart"></i>92%</p>
            </div>
            <i class="delete-goal zmdi zmdi-minus-circle" data-goal="funds"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </step> -->
<div class="continue" data-template="retirement">
  <a class="continue__button">CONTINUE <i class="zmdi zmdi-long-arrow-right"></i></a>
</div>
