<div class="header">
  <p class="step-title">Action Plan</p>
</div>
<div class="step step--plan">
  <div class="wrapper">
    <div class="panel-group">
      <!-- Action -->
      <div class="action panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a class="action__title" data-toggle="collapse" href=".action__details--0">Plan a "stay-cation" <i class="zmdi zmdi-chevron-down"></i></a>
            </div>
            <div class="col-xs-6 action__buttons">
              <div class="row">
                <div class="col-xs-8">Variable expense</div>
                <div class="col-xs-2"><i class="zmdi zmdi-calendar-alt"></i></div>
                <div class="col-xs-2"><i class="zmdi zmdi-info-outline" data-toggle="popover" title="Action info" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ullam, dolores omnis, recusandae id inventore repudiandae aliquid fugit."></i></div>
              </div>
            </div>
          </div>
        </div> <!-- /.panel-heading -->
        <div class="action__details action__details--0 collapse">
          <div class="panel-body">
            <div class="col-xs-8">
              <p>Bank what you save - Savings</p>
            </div>
            <div class="col-xs-4">
              <p>Savings</p>
            </div>
          </div>
        </div> <!-- /.action__details -->
      </div> <!-- /.action -->
      <!-- Action -->
      <div class="action panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a class="action__title" data-toggle="collapse" href=".action__details--1">Plan a "stay-cation" <i class="zmdi zmdi-chevron-down"></i></a>
            </div>
            <div class="col-xs-6 action__buttons">
              <div class="row">
                <div class="col-xs-8">Variable expense</div>
                <div class="col-xs-2"><i class="zmdi zmdi-calendar-alt"></i></div>
                <div class="col-xs-2"><i class="zmdi zmdi-info-outline" data-toggle="popover" title="Action info" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ullam, dolores omnis, recusandae id inventore repudiandae aliquid fugit."></i></div>
              </div>
            </div>
          </div>
        </div> <!-- /.panel-heading -->
        <div class="action__details action__details--1 collapse">
          <div class="panel-body">
            <div class="col-xs-8">
              <p>Bank what you save - Savings</p>
            </div>
            <div class="col-xs-4">
              <p>Savings</p>
            </div>
          </div>
        </div> <!-- /.action__details -->
      </div> <!-- /.action -->
      <!-- Action -->
      <div class="action panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a class="action__title" data-toggle="collapse" href=".action__details--2">Pack your lunch 3 days a week <i class="zmdi zmdi-chevron-down"></i></a>
            </div>
            <div class="col-xs-6 action__buttons">
              <div class="row">
                <div class="col-xs-8">Variable expense</div>
                <div class="col-xs-2"><i class="zmdi zmdi-calendar-alt"></i></div>
                <div class="col-xs-2"><i class="zmdi zmdi-info-outline" data-toggle="popover" title="Action info" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ullam, dolores omnis, recusandae id inventore repudiandae aliquid fugit."></i></div>
              </div>
            </div>
          </div>
        </div> <!-- /.panel-heading -->
        <div class="action__details action__details--2 collapse">
          <div class="panel-body">
            <div class="col-xs-8">
              <p>Bank what you save - Savings</p>
            </div>
            <div class="col-xs-4">
              <p>Savings</p>
            </div>
          </div>
        </div> <!-- /.action__details -->
      </div> <!-- /.action -->
      <!-- Action -->
      <div class="action panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a class="action__title" data-toggle="collapse" href=".action__details--3">Plan a "stay-cation" <i class="zmdi zmdi-chevron-down"></i></a>
            </div>
            <div class="col-xs-6 action__buttons">
              <div class="row">
                <div class="col-xs-8">Variable expense</div>
                <div class="col-xs-2"><i class="zmdi zmdi-calendar-alt"></i></div>
                <div class="col-xs-2"><i class="zmdi zmdi-info-outline" data-toggle="popover" title="Action info" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ullam, dolores omnis, recusandae id inventore repudiandae aliquid fugit."></i></div>
              </div>
            </div>
          </div>
        </div> <!-- /.panel-heading -->
        <div class="action__details action__details--3 collapse">
          <div class="panel-body">
            <div class="col-xs-8">
              <p>Bank what you save - Savings</p>
            </div>
            <div class="col-xs-4">
              <p>Savings</p>
            </div>
          </div>
        </div> <!-- /.action__details -->
      </div> <!-- /.action -->
    </div> <!-- /.panel-group -->

    <form>
      <p class="form-title">Signup for reminders</p>
      <div class="form-group">
        <label for="text-number">Text Number</label>
        <input class="form-control" type="text" name="text-number" placeholder="Your mobile phone number">
      </div>
      <p>OR</p>
      <div class="form-group">
        <label for="text-email">Email address</label>
        <input class="form-control" type="email" name="text-email" placeholder="example@gmail.com">
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div> <!-- /.wrapper -->
</div> <!-- </step> -->
<div class="continue" data-template="plan">
  <a class="continue__button">FINISH AND PRINT YOUR PLAN</a>
</div>
