<div class="step-wrapper about-wrapper">
  <div class="header">
    <p class="step-title">Tell us about you</p>
  </div>
  <div class="step step--about">
    <div class="about__age">
      <p class="about__question">What is your age?</p>
      <div class="about__age__slider"></div>
    </div>
    <div class="row">
      <div class="about__situation col-sm-6">
        <p class="about__question">What is your situation?</p>
        <select class="about__select" name="situation">
          <option value="single">Single</option>
          <option value="married" selected>Married - no kids</option>
          <option value="married-kids">Married - with kids</option>
          <option value="single-kids">Single - with kids</option>
        </select>
      </div>
      <div class="about__house col-sm-6">
        <p class="about__question">Where do you live?</p>
        <select class="about__select" name="house">
          <option value="rent">I rent my home</option>
          <option value="own" selected>I own my home</option>
          <option value="other">Others</option>
        </select>
      </div>
    </div> <!-- </row> -->
    <div class="about__income">
      <p class="about__question">How much do you earn a year?</p>
      <div class="about__income__slider"></div>
    </div>
  </div> <!-- </step> -->
  <div class="continue" data-template="you">
    <a class="continue__button">CONTINUE <i class="zmdi zmdi-long-arrow-right"></i></a>
  </div>

</div>
