<div class="step-wrapper you-wrapper">
  <div class="header">
    <p class="step-title">Your savings and expenses</p>
  </div>
  <div class="step step--savings">
    <div class="about__savings">
      <p class="about__question">How much do you save?</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>What are your basic needs?</p>
        <div class="about__savings__slider--needs"></div>
      </div>
      <div class="col-md-6">
        <p>What are your discretionary expenses?</p>
        <div class="about__savings__slider--expenses"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 col-xs-6">
        <div class="about__savings__circle ct-chart ct-square"></div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <ul class="ct-legend">
          <li><span class="ct-legend__color ct-legend__color--basic"></span> Basic Needs</li>
          <li><span class="ct-legend__color ct-legend__color--disc"></span> Discretionary Needs</li>
          <li><span class="ct-legend__color ct-legend__color--savings"></span> Savings</li>
        </ul>
      </div>
    </div>
  </div> <!-- </step> -->
  <div class="continue" data-template="pyramid">
    <a class="continue__button">CONTINUE <i class="zmdi zmdi-long-arrow-right"></i></a>
  </div>

</div>
