<div class="step-wrapper goal-wrapper">
  <div class="header">
    <p class="step-title">Pick a goal</p>
  </div>
  <div class="step step--goals">
    <div class="wrapper">
      <p class="about__question">Pick one or more goals from the left and set them on the right</p>
      <div class="row">
        <div class="col-md-6">
          <div class="goals">

          </div>
        </div>
  <!-- /col-md-6 -->
        <div class="col-md-6">
          <p>
            <strong>Picked Goals</strong>
            (Drag & Drop to order)</p>
          <div class="picked-goals">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </step> -->
  <div class="continue" data-template="retirement">
    <a class="continue__button">CONTINUE <i class="zmdi zmdi-long-arrow-right"></i></a>
  </div>

</div>
